/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");

html,
body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #000;
}

* {
    font-family: "Roboto", sans-serif;
}

.clamp {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-clamp: 1;
}

// spin

.tailspin-loading {
    --uib-size: 40px;
    --uib-color: black;
    --uib-speed: 0.9s;
    --uib-stroke: 5px;
    --mask-size: calc(var(--uib-size) / 2 - var(--uib-stroke));
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: var(--uib-size);
    width: var(--uib-size);
    -webkit-mask: radial-gradient(
        circle var(--mask-size),
        transparent 99%,
        #000 100%
    );
    mask: radial-gradient(circle var(--mask-size), transparent 99%, #000 100%);
    background-image: conic-gradient(transparent 25%, var(--uib-color));
    animation: tailspin calc(var(--uib-speed)) linear infinite;
    border-radius: 50%;
}

@keyframes tailspin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


// custom scroll bar of body
    
body::-webkit-scrollbar {
    width: 5px; /* width of the entire scrollbar */
    height: 5px;
}

body::-webkit-scrollbar-track {
    background: #fff; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background: #000; /* color of the scroll thumb */
}

body::-webkit-scrollbar-thumb:hover {
    background: #210be7; /* color of the scroll thumb on hover */
}
