/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

html,
body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

* {
    font-family: "Roboto", sans-serif;
}

.clamp {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-clamp: 1;
}