<div
    class="wrapper min-h-screen flex flex-col items-center justify-center bg-gray-100 px-4"
>
    <!-- Form đăng nhập -->
    <div
        class="w-full max-w-sm bg-white/20 p-6 rounded-2xl shadow-md backdrop-blur-md"
    >
        <!-- Logo & Tên ứng dụng -->
        <div class="mb-8 text-center">
            <img
                src="logo.jpg"
                alt="App Logo"
                class="w-16 h-16 mx-auto mb-2 rounded-full"
            />
            <h1 class="text-2xl font-bold text-gray-700">
                Video Streaming App
            </h1>
        </div>

        @if(loginError) {
        <div class="font-bold text-red-500 text-center">
            {{ loginError }}
        </div>
        }

        <form [formGroup]="loginForm">
            <div class="mb-4">
                <label
                    class="block text-sm font-medium text-gray-700 mb-1"
                    for="email"
                    >Email</label
                >
                <input
                    formControlName="email"
                    id="email"
                    type="email"
                    class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-400"
                    placeholder="you@example.com"
                    [ngClass]="{
                        'border-red-500':
                            loginForm.get('email')?.invalid &&
                            loginForm.get('email')?.touched
                    }"
                />
                @if(loginForm.get('email')?.touched) {
                <div class="text-red-500 text-sm mt-1">Email is invalid</div>
                }
            </div>

            <div class="mb-4">
                <label
                    class="block text-sm font-medium text-gray-700 mb-1"
                    for="password"
                    >Password</label
                >
                <input
                    id="password"
                    formControlName="password"
                    type="password"
                    class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-400"
                    placeholder="••••••••"
                    [ngClass]="{
                        'border-red-500':
                            loginForm.get('password')?.invalid &&
                            loginForm.get('password')?.touched
                    }"
                />
                @if(loginForm.get('password')?.touched &&
                loginForm.get('password')?.invalid) {
                <div class="text-red-500 text-sm mt-1">
                    Password minimum 6 characters
                </div>
                }
            </div>

            <div class="flex justify-between items-center text-sm mb-4">
                <a href="#" class="text-blue-600 hover:underline"
                    >Forgot password?</a
                >
            </div>

            <button
                (click)="signIn()"
                type="button"
                class="w-full bg-rose-600 text-white py-2 rounded-lg hover:bg-rose-700 transition"
            >
                Signin
            </button>
        </form>

        <div class="text-center mt-4 text-sm">
            Don't have an account?
            <a routerLink="/auth/register" class="text-blue-600 hover:underline"
                >Signup</a
            >
        </div>
    </div>
</div>
